body {
  background-color:darkslateblue;
  margin:0;
  padding:0;
}

nav {
  background-color: cornflowerblue;
  padding:40px 0;
  width:100%;
}

h1 {
  margin:0;
  text-align:center;
  color:white;
  font-family: 'Press Start 2P', cursive;
}

input {
  margin:0 10px 0 10px;
}

input[type=text] {
    padding: 12px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size:16px;
}

button {
  text-align:center;
  margin:10px 10px;
  background-color:cornflowerblue;
  color:white;
  height:50px;
  width:200px;
  font-size:20px;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid white;
  display:inline-block;
}

.inputContainer {
  text-align:center;
  margin: 0 auto;
}

.results {
  margin: 10px auto 50px auto;
  width:700px;
  border:3px dashed black;
  overflow:hidden;
}

.paletteBox {
  height:50px;
  width:50px;
  float:left;
}

@media (max-width: 600px) {
  .results {
    padding:20px;
    width:350px;
  }
}

@media (max-width: 380px) {
  .results {
    width:300px;
  }
}

@media (max-width: 330px) {
  .results {
    width:250px;
  }
}
